<style>
.project-haystack-mfss {
	overflow: hidden;
}
.project-haystack-mfss .col-md-6 img {
	display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
	position: relative;
}
.project-haystack-mfss .result-caption {
	margin-top: -20px;
}
</style>

<div class="project-haystack-mfss" ng-if="client">

	<p ng-if="!client.rows.length">Matches: N/A</p>

	<pager ng-model="page" total="client.rows.length"></pager>

	<div ng-repeat="item in client.rows">

		<div ng-if="$index % 2 == 0" class="clearfix"></div>

		<div class="col-md-6" ng-if="(page - 1) * 4 <= $index && $index < page * 4">
			<img ng-src="{{item.base64image}}" structure="item.molecule">
			<div class="result-caption">
					<span class="sim-score">({{item.similarityScore | number:2 }})<br></span>
				<span class="text-center" ng-if="item.bindingdb"><a target="_blank" ng-href="{{item.bindingdb_link}}">BindingDB{{item.bindingdb}}</a><br></span>
				<span class="text-center" ng-if="item.chembl"><a target="_blank" ng-href="{{item.chembl_link}}">{{item.chembl}}</a><br></span>
				<span class="text-center" ng-if="item.emolecules"><a target="_blank" ng-href="{{item.emolecules_link}}">eMolecules {{item.emolecules}}</a><br></span>
				<span class="text-center" ng-if="item.fda_srs"><a target="_blank" ng-href="{{item.fda_srs_link}}">FDA_SRS: {{item.fda_srs}}</a><br></span>
				<span class="text-center" ng-if="item.mcule"><a target="_blank" ng-href="{{item.mcule_link}}">{{item.mcule}}</a><br></span>
				<span class="text-center" ng-if="item.molport_allstock"><a target="_blank" ng-href="{{item.molport_allstock_link}}">{{item.molport_allstock}} (stock)</a><br></span>
				<span class="text-center" ng-if="item.molport_madetoorder"><a target="_blank" ng-href="{{item.molport_madetoorder_link}}">{{item.molport_madetoorder}} (order)</a><br></span>
				<span class="text-center" ng-if="item.namiki">Namiki {{item.namiki}}<br></span>
				<span class="text-center" ng-if="item.pubchem"><a target="_blank" ng-href="{{item.pubchem_link}}">PubChem {{item.pubchem}}</a><br></span>
				<span class="text-center" ng-if="item.surechembl"><a target="_blank" ng-href="{{item.surechembl_link}}">{{item.surechembl}}</a><br></span>
				<span class="text-center" ng-if="item.zinc"><a target="_blank" ng-href="{{item.zinc_link}}">{{item.zinc}}</a><br></span>
			</div>
		</div>
	</div>
</div>

<div class="project-haystack" ng-if="!client">

	<p>No results.</p>

</div>

