<style>
.logd-values tr.property-row td {
    padding-top: 2px;
}
.logd-values .property-row .property-name {
    min-width: 100px;
    padding-right: 2px;
}
.logd-values .property-row .property-name,
.logd-values .property-row .property-value {
    border-bottom: 1px solid #dedede;
}
.logd-values .property-row:last-child .property-name,
.logd-values .property-row:last-child .property-value {
	border-bottom: 1px solid #e8e8e8;
}
.logd-values .property-row .property-value {
    width: 70px;
    text-align: right;
    padding: 2px 2px 0;
}
.logd-values tr:not(.property-row) td {
    text-align: right;
	color: #999;
    padding: 0 2px;
}
</style>

<table class="logd-values">
	<tr ng-if="client.hasPinnedValues">
		<td></td>
		<td></td>
		<td></td>
		<td>Current</td>
		<td>Pinned</td>
	</tr>
    <tr ng-repeat="property in client.spreadsheet track by property.label" class="property-row">
		<td ng-if="client.hasPinnedValues"><larger new="property.values[0]" base="property.values[1]"></larger></td>
		<td ng-if="client.hasPinnedValues"><smaller new="property.values[0]" base="property.values[1]"></smaller></td>
		<td class="property-name">{{property.label}}</td>
		<td class="property-value">{{property.values[0]}}</td>
		<td class="property-value" ng-if="client.hasPinnedValues">{{property.values[1]}}</td>
	</tr>
</table>

<div class="logd-chart">
    <canvas class="chart chart-line" width="6" height="3" chart-data="client.chart.data" chart-series="client.chart.series" chart-options="client.chart.options" chart-labels="client.chart.labels" chart-dataset-override="client.chart.chartDatasetOverride"></canvas>
</div>
